.center{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
iframe{
	/*Take up all the width*/
	width:100%;
	/*Dynamicaly size*/
	height:60vw;
	/*Don't go off screen*/
	max-height:90vh;
	/*Not too small*/
	min-height:400px;
	/*remove frame border*/
	border:none;
	/*Fix space in li*/
	margin-bottom: -6px;
}
iframe[src^="https://www.youtube.com"]{
	/*Youtube Videos have different aspect ratio*/
	height:55vw;
}
.nopad{
	padding:0;
}
/*Define variables*/
:root{
	--black:#000;
	--scroll-back:rgba(120, +120, +120, .5);
	--scroll-front:#005c9a;
	--scroll-front-active:#96C8E9;
	--scroll-front-hover:#469AD2;
	--scroll-back2:#308BC8
}
div.alert{
	/*Fix annoying spacing on bottom of alerts*/
	margin-bottom:0px;
}
::-webkit-scrollbar-thumb{
    cursor: pointer!important;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    background: var(--scroll-back2);
	--shadow:inset 0 0 6px var(--scroll-front);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow)
}
::-webkit-scrollbar-thumb:active {
    background: var(--scroll-front-active)!important
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-front-hover)
}
::-webkit-scrollbar-track {
    border-left: 0px solid var(--black)
}
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    background: var(--scroll-back)
}
:root{
		scrollbar-color: var(--scroll-front) var(--scroll-back) !important;
		scrollbar-width: thin !important;
}
